.App {
  text-align: center;
}
p {
  color: #fff;
}
html {
  background-image: url("./images/MrRobot.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.Header {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: white;
  font-family: "Space", sans-serif;
}
.Scraper {
  font-family: Helvetica;
}
.Selected {
  display: none;
}
.App-link {
  color: #61dafb;
}
@font-face {
  font-family: "Space";
  src: url("Space.woff2");
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
